{{template "base" .}}

{{define "content"}}
        <div class="container" >
            <div class="row">
                    <div class="col">
                        <h1> This is the about page 01 </h1>

                        <p>This came from template: {{index .StringMap "test01"}}</p>
                        <p>
                            {{if ne (index .StringMap "remote_ip") ""}}
                                Your remote IP address is {{index .StringMap "remote_ip"}}
                            {{else}}
                                I don't know your ip address yet. Visit the <a href="/">Home page</a>so Ican set it.
                            {{end}}


                        </p>
                    </div>
            </div>
        </div>
{{end}}