{{template "base" .}}

{{define "content"}}
       <div class="container" >
               <div class="row">
                       <div class="col">
                           <h1> This is the home page </h1>
                       </div>
                       <img src="/static/images/house.jpg" height="750" width="400" >

               </div>
           </div>
{{end}}